html, body{
    font-family: 'Karla', sans-serif;
    margin: 0;
    background:#fcfcfc;
}

a:hover, a:active{
    text-decoration: none;
}

i:hover{
    cursor: pointer;
}

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-thumb{
    background:#EF9B2D;
}

header{
    background: #46ACC2;
    color:#fff;
    padding: 20px;
}

header a{
    color:#fff;
}

.header-wordmark{
    font-size:24px; 
    font-weight: 700;
}

.header-wordmark:hover{
    color: #fff;
}

.color-bg{
    background: #ccc;
}

header img{
    display: inline-block;
    -webkit-filter: invert(100%);
    width:26px; 
    margin-top:-9px;
}

.home-container{
    text-align: center;
    margin-top: 7%;
}

.home-container h1{
    font-size: 54px;
    font-weight: 700;
}

.home-container img{
    width:55px;
}

.home-container a{
    color:#EF9B2D;
}

.btn-primary{
    margin-top: 10px;
    background: #46ACC2;
    border:0;
    margin-bottom:7px;
    width:60%;
}

.btn-primary:hover{
    background:#EF9B2D;
    box-shadow: inset -5px -5px 0px rgba(255,255,255,.5);
}

.home-container input{
    margin: 6px 0px;
    width:60%;
}

.btn-group{
    width: 100%;
    margin-top: 0px;
}

.btn-group button{
    width:21%;
    float:left;
    background: #ddd;
    text-transform: uppercase;
    color:#fff;
    font-weight:bold;
    border: none;
    padding: 5px 10px;
    margin-right:3.2px;
}


.graph-border{
    margin-top: 20px;
    box-shadow:4px 4px 10px rgba(0,0,0,.2);
}

.recent-foods-header{
    width:100%;
    margin-top: 0px;
    padding: 10px;
    padding-bottom:0px;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
}

.recent-foods-border{
    margin-top:6px;
}

.recent-foods{
    width: 100%;
}

.recent-foods th{
    padding: 10px;
}

.recent-foods td{
    padding-left: 10px;
}

.recent-foods tr{
    padding:10px;
    border-bottom:2px solid #46ACC2;
}

.recent-foods .recent-fav{
    width: 50%;
    text-align: right;
    user-select: none;
}

.recent-foods .recent-fav .btn-primary{
    width:50px;
}

.recent-foods .spaced{
    margin-right:10px;
    display:inline-block;
}

.recent-foods .recent-fav .red-flag{
    color:#FF614C;
}

.spaced-icons i{
    margin-left:5px;
}

.header-row{
    background: #46acc2;
    color:#fff;
}

.favorite{
    color: gold;
}

#star1, #star2, #star3, #star5, #star6, #star7, #star8, #star9{
    color:gold;
}

#star4, #star12, #star13, #star14, #star15{
    color:#000;
}

.recent-foods tr:hover{
    background: #fff;
    color:#000;
}

#mostRecentFood{
    display:block;
}

.recent-food-entry{
    width:45%;
    overflow: hidden;
    display:inline-block;
    background:#fff;
    margin:2%;
    box-shadow:.5px 3px 4px rgba(0,0,0,.15);
}

.recent-food-entry h1{
    padding:5px 10px 0px 10px;
    font-size:18px;
    font-weight:bold;
    color:#46ACC2;
    margin:5px;
    margin-bottom:3px;
}


.recent-food-entry h2{
    padding:0px 10px;
    margin:0px 5px;
    padding-bottom:15px;
    font-size:15px;
    display:inline-block;
    float:left;
}

.recent-food-entry h3{
    margin:5px;
    font-size:15px;
    display:inline-block;
    float:right;
}

.recent-food-entry img{
    width:100%;
    transition:.15s ease-in-out;
}


.add-food{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.add-food button{
    font-size: 24px;
    padding: 5px 100px;
    letter-spacing:4px;
    background: #46acc2;
    color:#fff;
    font-weight:bold;
    border: none;
    box-shadow:4px 4px 10px rgba(0,0,0,.2);
    transition: .1s ease;
}

.add-food button:hover{
    background:#ef9b2d;
    box-shadow:2px 2px 3px rgba(0,0,0,.4);
}

.add-food button:focus{
    outline:0;
}

.header-icons{
    display: inline-block;
    float:right;
}

.header-icons i{
    margin-left: 20px;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: url(#temperature-gradient);
    stroke-width: 4px;
    transform: scaleX(1);
    margin-top: 0px;
}

.graph-container{
    background:url(img/graph-lines.jpg);
    background-size:cover;
}

.graph-horiz{
    margin-top:10px;
    margin-left:190px;
    word-spacing: 26px;
}

.graph-vert{
    position:absolute;
    margin-top:-375px;
    margin-left:-60px;
    line-height:16px;
    text-align: right;
}

.center{
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom:15px;
}

.about{
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    margin-top: 30px;
    padding:30px;
}

.about h2{
    font-weight: bold;
    font-size: 20px;
    display:block;
    background:#46ACC2;
    padding:10px;
    color:#fff;
    margin:10px 0px;
}

.about input{
    border:0;
    border-bottom:2px solid #EF9B2D;
}

.about button{
    background:#46ACC2;
    padding: 5px 25px;
    color:#fff;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 21px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #EF9B2D;
}

input:focus + .slider {
    box-shadow: 0 0 1px #EF9B2D;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.user-photo{
    text-align: center;
    float:center;
    border-radius:100%;
    border:8px solid rgba(255,255,255,.85);
    box-shadow:4px 4px 10px rgba(0,0,0,.2);
    max-width:200px;
    position:relative;
    z-index:5;
}

.slidecontainer {
    width: 100%;
}

.slider2 {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #eee;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top:10px;
}

.slider2:hover {
    opacity: 1;
}

.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #EF9B2D;
    cursor: pointer;
}

.slider2::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #EF9B2D;
    cursor: pointer;
}

.center-align{
    text-align:center;
}

.right-align{
    float:right;
}

#added-food{
    display: none;
}

#searched-food{
    display:none;
}

.login-box{
    text-align: center;
    background:#fff;
    padding: 50px 0px;
    width:30%;
    z-index:999;
    margin: 0 auto;
    position: relative;
    box-shadow:4px 4px 10px rgba(0,0,0,.2);
    outline:10px solid rgba(255,255,255,.25);
}

.login-box h1{
    font-weight:700;
}

.login-box .hero{
    width:100%;
    filter:blur(3px);
    opacity:.5;
    z-index:-9;
    position:relative;
}

.logo{
    margin-top:-18px;
}

.container{
}

.login-background{
    width:100%;
    top:0;
    z-index:3;
    height:60%;
    position: fixed;
    background:url('img/ice-cream.jpg');
    overflow: hidden;
    filter:blur(3px);
    background-size:cover;
}

.profile-background{
    width:100%;
    top:0;
    z-index:0;
    height:56%;
    position: absolute;
    background:url('img/latte.jpg');
    overflow: hidden;
    filter:blur(3px);
    background-position:center center;
    background-size:cover;
}

.relative{
    position:relative;
    z-index:5;
}

#btn-active{
    background:#EF9B2D;
    width:35%;
}

.full-bar{
    width:100%;
    background:#46ACC2;
    color:#Fff;
    padding:20px 30px;
    margin-top: 35px;
    font-size:20px;
    letter-spacing:8px;
    text-transform: uppercase;
    border:10px solid #fff;
    box-shadow:0px 0px 10px rgba(0,0,0,.3);
}

.modal-title{
    font-size:26px;
}

.modal-header h6{
    font-size: 16px;
}

.modal-header button{
    width:auto;
    margin-top:0;
}

.modal-title input{
    font-size:14px;
    border:0;
    border-bottom:2px solid #46acc2;
    width:90%;
    height:40px;
}

input:focus{
    box-shadow:0;
    outline:none;
}

.modal-title .btn-primary{
    width:15%;
    margin-left:15px;
}

.btn-primary:focus{
    outline:none;
}

.about .btn-second{
    background:#ef9B2f;
    margin-right:25px;
}

.confirm{
    color:#444;
    font-size:20px;
    font-weight:bold;
    border-bottom:2px solid #ef9b2f;
}

.confirm-body{
    text-align: center;
}
.modal-body button{
    border:0;
    padding:10px;
    margin:10px 5px;
    margin-right:0;
    margin-left:0;
    width:auto;
    font-weight:bold;
    color:#fff;
}

.yes{
    background: #46acc2;
}

.yes:hover{
    background:#ef9b2f;
}

.no-button:hover{
    background:#999;
}

 .overlay{
    opacity:0;
    color:#fff;
    font-size:48px;
    z-index:9009;
     line-height:180px;
     border-radius:100%;
     position:relative;
    background:rgba(0,0,0,.65);
    max-width:180px;
     margin:0 auto;
     margin-top: -190px;
     height:180px;
     transition: .5s ease;
}

.overlay:hover{
    opacity:1;
    cursor: pointer;
}

.smaller{
    margin-left: 10px;
    margin-right:10px;
}

.side{
    margin-top:40px;
}

.float-r{
    float:right;
}

#food1, #food2, #food3, #food4, #food12, #food13, #food14, #food15, #food16{
    display: inline-block;
}


.fa-caret-right{
    margin-right:10px;
}



.btn-profile:active:focus{
    background:#46acc2;
    color:#fff;
}


.btn-profile:active{
    background:#ef9b2f !important;
    color:#fff !important;
}

.btn-profile:active, .btn-profile:selected, .btn-profile:focus, .btn-profile:visited{
    background:#ef9b2f !important;
    color:#fff !important;
}

.btn-profile{
    margin-top: 10px;
    background: #ef9b2f;
    border:0;
    border:none;
    outline:none;
    box-shadow: none;
    margin-bottom:7px;
    width:60%;
    border-radius:4px;
    color:#fff;
}


.btn-profile:hover{
    background:#ef9b2f;
    box-shadow: inset -5px -5px 0px rgba(255,255,255,.5);
}

.btn-profile:target{
    color:#fff;
}

.no-button{
    background:#ccc;
}

.home-links:hover{
    color:#46acc2;
}

#favs tr{
    padding:20px;
}

#favs td{
    padding:10px 0px;
}

.signuppass{
    margin:5px 0px;
}

.signupuser{
    margin-top:10px;
}

#newpass{
    display:none;
}

#getnew{
    display:block;
}


.btn-profile2{
    width:60%;
    border:0;
    box-shadow:0;
    color:#fff;
    padding:8px 20px;
    margin: 10px 0px;
    border-radius:4px;
    background: #46acc2;
    transition: .2s ease;
}

.btn-profile2:hover{
    background:#EF9B2D;
    box-shadow: inset -5px -5px 0px rgba(255,255,255,.5);
}

.btn-profile2:active{
    outline:0;
}

.btn-profile2:focus{
    outline:0;
}

.recent-fav td button{
    width:auto;
}

#error{
    display:none;
    color:#EF9B2D;
    font-weight:bold;
}